{% extends "audrie/base.html" %}
    <style>
        table {
            margin: 0 auto; /* Центрируем таблицу по горизонтали */
        }
    </style>

<head>{% block title %}{{ drug.drugname }}{% endblock %}</head>

{% block content %}
  <h1>{{ drug.drugname }}</h1>
    <body>
    <p><b>Drugname</b>:   {{ drug.drugname}}</p>
    <p><b>Drug description</b>:   {{ drug.description}}</p>
    <p><b>Molecule type</b>:   {{ drug.moleculeType }}</p>
    <p><b>Year of creation</b>:   {{ drug.yearOfDrug }}</p>
    <p><b>Status</b>:   {{ drug.confirmStatus }}</p>
    <p><b>More info to be determined</b></p>
    </body>
    <p>{{ mechaninisms.mechanism }}</p>
    <p><b>SMILES:   </b>{{ drug.smiles }}</p>
<p><b>Drugbank reference</b>:   {{ drug.drugbankReference }}</p>
    <p><b>Dailymed reference</b>:   {{ drug.dailymedReference  }}</p>
    <p><b>CHEMBL reference</b>:   {{ drug.chemBLReference }}</p>
<img src="{{ drug.smiles_image.url|slice:"6:" }}" alt="{{ drug.smiles }}" width="200" height="200">
<hr style="border-width: 1px;">
    <h2>Mechanisms of Action:</h2>
    <table>
        <tr>
            <th>Mechanism</th>
            <th>Target Receptor</th>
            <th>Human Receptor</th>
            <th>Links</th>
        </tr>
        {% for mechanism in mechanisms %}
            <tr>
                <td>{{ mechanism.mechanism }}</td>
                <td>{{ mechanism.targetReceptor }}</td>
                <td>{{ mechanism.humanReceptor }}</td>
                <td>{{ mechanism.links }}</td>
            </tr>
        {% endfor %}
    </table>
{#    <p><b>Mechanism:   </b>{{ mechanism.targetReceptor }}</p>#}
{#    <p>{{ mechanism }}</p>#}
<hr style="border-width: 1px;">
    <head>
    <title>Drug Information Detail</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>{{ drug_info.drugname }}</h1>


    <!-- Таблица для связанных назначений (useIndications) -->
    <h2>Related Use Indications</h2>
    <table>
        <tr>
            <th>Indication Info</th>
            <th>Therapeutic Info</th>
            <th>Phase</th>
            <th>References</th>
        </tr>
        {% for indication in indications %}
            <tr>
                <td>{{ indication.indicationInfo }}</td>
                <td>{{ indication.therapeuticInfo }}</td>
                <td>{{ indication.phase }}</td>
                <td>{{ indication.references }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}